@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
    width: 8px;
    /* background-color: red */
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: coral;
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    width: 20px; 
  }

@tailwind base;
@tailwind components;
@tailwind utilities;